VERSION=1.0
DATE=2022.05.19
# URL_SRC : source for signed URL, can be one of INDEXD, CLOUD_FRONT, LOCAL, PUBLIC_S3 or DUMMY (default)
BACKEND_URL=http://localhost:8080/v1/graphql/
AUTH_ENABLED=true
# Under AUTH_ENABLED enabled, use it as additional file authenticator
AUTHORIZATION_ENABLED=true
PROJECT=BENTO
FAKE=true
AUTH_URL=http://localhost:4010/api/auth/authorized